*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    place-content: center;
    font-family: "Poppins";
}

#container{
    width: 550px;
    min-height: 500px;
    background-color: white;
    border-radius: 16px;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#header{
    padding: 16px;
    h1{
        font-size: 36px;
    }
}

#todos{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#userInput{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh ;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#addTaskButton{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh ;
    outline: none;
    border-radius: 15px;
    border: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.singleTodo{
    padding: 16px;
    border: 2px black solid;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        /* background-color: rgba(255, 0, 0, 0.767); */
        outline: none;
        border: none;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 15px;
        color: white;
        font-weight: 400;
        cursor: pointer;
    }
}

.buttonWrapper{
    display: flex;
    gap: 0.5vw;
}

.editButton{
    background-color: tomato;
}

.deleteButton{
    background-color: rgba(255, 0, 0, 0.795);
}

.editInput{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh ;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#input{
    display: flex;
    align-items: center;
    gap: 1vw;
}

@media (max-width: 480px){
    #container{
        width: 90%;
        padding: 1rem;
    }

    #header{
        h1{
            font-size: 1.5rem;
        }
    }

    #addTaskButton{
       
        outline: none;
        border: none;
        background-color: tomato;
        color: white;
        cursor: pointer;
    }

    #userInput{
        width: 70%;
        outline: none;
        border: none;
        border-radius: 15px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .editInput{
        width: 50%;
        outline: none;
        border: none;
        border-radius: 15px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .singleTodo{
        padding: 0.5rem;
    }
}